body{
font-family: Arial;
margin:0;
background:#f4f6f9;
}

.login-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f2f4f8;
}

.login-container{
background:white;
padding:30px;
width:320px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#45a049;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#2c3e50;
padding:15px 40px;
color:white;
}

.logo{
font-size:20px;
font-weight:bold;
}

.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.nav-links a:hover{
text-decoration:underline;
}


/* DASHBOARD */

.dashboard{
text-align:center;
margin-top:40px;
}

.card-container{
display:grid;
grid-template-columns:repeat(2,250px);
gap:30px;
justify-content:center;
margin-top:40px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
cursor:pointer;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}